services:
  - type: web
    name: mednex-backend
    runtime: python
    buildCommand: pip install --upgrade pip && pip install -r requirements-prod.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: PORT
        value: 10000
      - key: RENDER
        value: true
      - key: ENVIRONMENT
        value: production
      - key: DEBUG
        value: False
